.form{
    background: #eff0f0;
    width: 60%;
    margin: 50px 20%;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: large;
}
.head{
    background: darkorange;
}
.otp{
    background: #ec2741;
    color: white;
    cursor: pointer;
}
body{
    text-align: center;
    background: rgb(186, 241, 131);
}
.submit{
    background: #4ea95f;
    color: white;
    cursor: pointer;
}
.Cancel{
    cursor: pointer;
}